<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SiteChecker_mvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/SiteChecker_mvc.styles.css" asp-append-version="true"/>
    
</head>
@* <body style="background-image: linear-gradient(to right top, #e9ecef, #e4e7eb, #dfe3e7, #dadee3, #d5dadf, #cedae4, #c6dbe9, #bcdced, #a8e4f7, #8fecfc, #75f4fa, #5ffbf1); font-size: 19px"> *@
@* <body style="background-image:linear-gradient(to right, #8e9eab, #eef2f3); font-size: 19px"> *@
<body style="background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
 background-blend-mode: normal,color-burn; font-size: 19px">


<header>
    @*     <nav  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 p-3" style=" font-size: 22px;background-color: #FFDEE9;  *@
    @* background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%); *@
    @* "> *@
    @*         <div class="container-fluid"> *@
    @*             $1$ <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SiteChecker_mvc</a> #1# *@
    @*             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
    @*                     aria-expanded="false" aria-label="Toggle navigation"> *@
    @*                 <span class="navbar-toggler-icon"></span> *@
    @*             </button> *@
    @*             <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"> *@
    @*                 <ul class="navbar-nav flex-grow-1"> *@
    @*                     <li class="nav-item"> *@
    @*                         <a style="margin-left: 270px ; " class="nav-link text-dark fw-bold "  asp-area="" asp-controller="Home" asp-action="Index">List Of WebSites</a> *@
    @*                     </li> *@
    @*                     <li class="nav-item dropdown"> *@
    @*                     <a class="nav-link dropdown-toggle text-primary fw-bold ms-4" data-bs-toggle="dropdown"  role="button"  *@
    @*                        aria-haspopup="true" aria-expanded="false"  >Phone Numbers</a> *@
    @*                     <div class="dropdown-menu"> *@
    @*                            *@
    @*                         <a class="dropdown-item"asp-area="" asp-controller="PhoneNumbers" asp-action="PhoneNumbers">List Of Contacts</a> *@
    @*                         <div class="dropdown-divider"></div> *@
    @*                         <a class="dropdown-item" asp-controller="PhoneNumbers" asp-action="Create" >Create</a> *@
    @*                     </div> *@
    @*                     <li class="nav-item"> *@
    @*                         <a class="nav-link text-danger fw-bold ms-4" asp-area="" asp-controller="Home" asp-action="AllErrors">List Of All Errors</a> *@
    @*                     </li> *@
    @*                 </ul> *@
    @*             </div> *@
    @*         </div> *@
    @*     </nav> *@

</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    @* <div class="container"> *@
    @*     &copy; 2024 - SiteChecker_mvc  *@
    @* </div> *@
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>